/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

/*header start*/

.logo {
    font-size: 25px;
}

.c_dd_menu {
   width: 90%;
}


/*header end*/


/*banner start*/

.s_content {
	text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.s_content h1 {
    font-size: 38px;
}

.s_content p {
	font-size: 15px;
	padding: 10px 0 15px;
}


.learn_btn {
	font-size: 15px;
	padding: 8px 15px;
}

.s_p_n {
    text-align: center;
}


/*banner end*/


/*service start*/

.t_arrow {
	height: 40px;
}

.c_h1 {
	font-size: 28px;
}

.c_p {
	font-size: 15px;
    padding: 10px 0;
    line-height: 25px;
}

.s_service h2 {
    padding-top: 20px;
}

.s_service p {
    padding: 13px 5px 24px;
}

.s_service {
    margin: 30px 0;
    padding: 70px 0px 25px;
}

/*service end*/


/*about us start*/

.about_us {
   padding: 20px 0 40px;
}

.about_text {
	text-align: center;
    padding-top: 30px;
}

.about_text h1 {
    padding-bottom: 20px;
}

.about_text p {
	font-size: 15px;
    padding-bottom: 20px;
    line-height: 25px;
}

.learn_btn2 {
	margin-top: 10px;
}

/*about us end*/

/*portfolio start*/

.ptb_custom {
    padding-top: 5px;
    padding-bottom: 55px;
}

.p_menu {
    padding: 25px 0 10px;
}

.p_menu ul li {
	margin-bottom: 10px !important;
    text-align: center !important;
}

.n_btn {
    margin-right: 10px !important;
    padding: 5px;
}


/*portfolio end*/


/*choose start*/

.ptb_custom2 {
    padding: 25px 0 55px;
}

.c_single {
    padding-top: 15px;
}

.c_icon {
    margin-top: -10px;
    text-align: center;
}

.c_icon i {
    font-size: 40px;
}

.c_text h2 {
	text-align: center;
}


.c_text p {
	font-size: 15px;
	text-align: center;
	line-height: 25px;
	word-spacing: 0;
}

.c_text p{
	padding: 15px 0 25px;
}

/*choose end*/

/*template start*/


.temp_text p {
    font-size: 16px;
    text-align: center;
}

.buy_btn {
    text-align: center !important;
}

/*template end*/

/*quote start*/

.q_border {
    padding: 15px;
}

.q_text h1{
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.q_text h2{
    font-size: 16px;
    padding-bottom: 10px;
}


.q_text h3{
    font-size: 16px;
    padding-bottom: 12px;
}

.q_text p{
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 0;
}


.q_p_n {
   padding: 0 15px;
   border: 1px solid #8e8e8e;
}

.q_btn {
   transform: rotate(0deg);
}


/*quote end*/


/*contact start*/

.s_contact {
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 65px 0 20px;
}

.s_text {
   margin-top: -86px;
}

.s_text h1 {
    font-size: 25px;
    margin-bottom: 5px;
}

.f_custom {
   font-size: 15px;
   padding: 40px 15px 10px 15px;
}

/*contact end*/

/*footer start*/

.social {
    padding: 35px 0 0;
}

.t_social p {
    font-size: 15px;
    padding-top: 20px;
}

.social_icon {
    padding: 20px 0;
}

.social_icon ul {
    text-align: center;
}

.social_icon ul li {
    text-align: center;
}

.social_icon ul li a i {
    font-size: 22px;
    width: 36px;
    padding: 8px 0;
}

.f_bottom {
    padding: 25px 0 15px;
}

.f_text p{
    font-size: 15px;
    text-align: center;
    padding-bottom: 25px;
}


.f_menu {
    text-align: center;
}


.f_menu ul li a {
    margin-right: 5px;
    font-size: 15px;
}

/*footer end*/







}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

/*header start*/

.c_dd_menu {
   width: 80%;
}


/*header end*/

/*banner start*/

.s_content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.s_content h1 {
    font-size: 45px;
}


/*banner end*/

/*service start*/

.t_arrow {
	height: 40px;
}

.c_p {
    padding: 16px 0;
}

.s_service h2 {
    padding-top: 20px;
}

.s_service p {
    padding: 13px 0 24px;
}

.s_service {
    margin: 30px 0;
    padding: 70px 0px 25px;
}

/*service end*/


/*about us start*/

.about_us {
   padding: 20px 0 50px;
}

.about_text {
    padding-top: 30px;
}

.about_text h1 {
    padding-bottom: 25px;
}

/*about us end*/

/*portfolio start*/

.ptb_custom {
    padding-top: 10px;
    padding-bottom: 60px;
}

.p_menu {
    padding: 35px 0 10px;
}

.n_btn {
    margin-right: 10px !important;
    padding: 5px;
}

/*portfolio end*/


/*choose start*/

.ptb_custom2 {
    padding: 45px 0 60px;
}

.c_single {
    padding-top: 5px;
}

.c_icon {
    margin-top: 0;
    text-align: center;
}

.c_icon i {
    font-size: 35px;
}

.c_text h2 {
	text-align: left;
}


.c_text p {
	text-align: center;
	line-height: 25px;
	word-spacing: 0;
}

.c_text p{
	padding: 8px 0 30px;
}

/*choose end*/

/*work start*/

.w_single h5 {
    font-size: 16px;
}

.overlay ul li a i{
   font-size: 21px;
   padding: 9px 0;
}
/*work end*/


/*pricing start*/

.s_pricing {
    margin-bottom: 15px;
}


.t_text {
   margin-top: -44px;
}

.bigger_text {
   font-size: 30px;
   padding-right: 0;
}

.s_pricing h2 {
   font-size: 16px;
   padding: 15px 0;
}

.s_pricing p {
   padding-bottom: 0;
}

.p_btn {
   padding-top: 10px;
}

/*pricing end*/

/*template start*/


.temp_text p {
    font-size: 16px;
}
/*template end*/



/*quote start*/

.q_border {
    padding: 15px 20px;
}

.c_align {
    align-self: start !important;
}

.q_text h1{
   padding-bottom: 10px;
}

.q_text h2{
   padding-bottom: 10px;
}


.q_text h3{
   padding-bottom: 12px;
}

.q_text p{
   line-height: 25px;
   padding-bottom: 0;
}


.q_p_n {
   padding: 10px 20px;
   border: 1px solid #8e8e8e;
}

.q_btn {
   transform: rotate(0deg);
}


/*quote end*/


/*footer start*/

.social {
    padding: 35px 0 20px;
}

.f_bottom {
    padding: 25px 0 15px;
}

.f_text p{
    text-align: center;
    padding-bottom: 25px;
}


.f_menu {
    text-align: center;
}


/*footer end*/


}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

/*header start*/

.c_dd_menu {
   width: 80%;
}


/*header end*/


/*banner start*/

.s_content {
    margin-top: 120px;
    margin-bottom: 120px;
}

.s_content h1 {
    font-size: 50px;
}




/*banner end*/


/*service start*/

.s_service {
    margin: 35px 0;
    padding: 70px 25px 35px;
}

.c_p {
	padding: 20px 0;
}

.s_service h2 {
    padding-top: 20px;
}

.s_service p {
    padding: 13px 0 27px;
}


/*service end*/

/*about us start*/

.about_us {
   padding: 30px 0 60px;
}

.about_text {
    padding-top: 40px;
}

/*about us end*/

/*portfolio start*/

.ptb_custom {
    padding-top: 15px;
    padding-bottom: 70px;
}

.p_menu {
    padding: 45px 0 10px;
}

.p_menu ul li a {
   margin-right: 15px;
}


/*portfolio end*/


/*choose start*/

.ptb_custom2 {
    padding: 50px 0 70px;
}

.c_single {
    padding-top: 15px;
}

.c_icon {
    margin-top: -10px;
}

.c_icon i {
    font-size: 40px;
}

.c_text h2, .c_text p {
	text-align: center;
}

.c_text p{
	padding: 20px 0 30px;
}

/*choose end*/


/*pricing start*/

.s_pricing {
    margin-bottom: 15px;
}


/*pricing end*/



/*quote start*/

.q_border {
    padding: 15px 20px;
}

.q_text h1{
   padding-bottom: 10px;
}

.q_text h2{
   padding-bottom: 10px;
}


.q_text h3{
   padding-bottom: 12px;
}

.q_text p{
   line-height: 25px;
   padding-bottom: 0;
}


.q_p_n {
   padding: 10px 20px;
   border: 1px solid #8e8e8e;
}

.q_btn {
   transform: rotate(0deg);
}


/*quote end*/

/*footer start*/

.social {
    padding: 35px 0;
}

.f_bottom {
    padding: 25px 0 15px;
}

.f_text p{
    text-align: center;
    padding-bottom: 25px;
}


.f_menu {
    text-align: center;
}


/*footer end*/


}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

/*banner start*/

.s_content {
    margin-top: 160px;
    margin-bottom: 160px;
}

.s_content h1 {
    font-size: 50px;
}

.learn_btn {
   padding: 10px 27px;
}


/*banner end*/


/*service start*/

.s_service h2 {
    padding-top: 10px;
}

.s_service p {
    padding: 13px 0 24px;
}

.s_service {
    margin: 30px 0;
    padding: 70px 0px 25px;
}

/*service end*/

/*about us start*/

.about_us {
   padding: 45px 0 70px;
}


/*about us end*/

/*portfolio start*/

.ptb_custom {
    padding-bottom: 80px;
}

.p_menu {
    padding: 60px 0 10px;
}

/*portfolio end*/

/*choose start*/

.ptb_custom2 {
    padding: 80px 0;
}

/*choose end*/


/*work start*/

.w_single h5 {
    font-size: 16px;
}

.overlay ul li a i{
   font-size: 20px;
   padding: 7px 0;
}
/*work end*/

/*pricing start*/

.t_text {
   margin-top: -44px;
}

.bigger_text {
   font-size: 30px;
   padding-right: 0;
}

.s_pricing h2 {
   font-size: 16px;
   padding: 15px 0;
}

.s_pricing p {
   padding-bottom: 0;
}

.p_btn {
   padding-top: 10px;
}

/*pricing end*/

/*quote start*/

.q_text h3{
   padding-bottom: 15px;
}

.q_text p{
   line-height: 25px;
   padding-bottom: 0;
}

/*quote end*/



}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}
